
.app {
    width:100%;  
}
.big-container {
    display:flex;
    justify-content: space-between;
}
.header {
    margin-left:0.5em;
}
.item-container {
    margin-left:0.5em;
    margin-right:0.5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: auto 1fr auto;     */
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 700px) {
      .item-container {
        grid-template-columns: repeat(2, 1fr);
    }
  }

  @media only screen and (max-width: 400px) {
    .item-container {
      grid-template-columns: repeat(1, 1fr);
  }
    
}